<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ani_player_character03_01_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{324,284}}</string>
                <key>offset</key>
                <string>{-146,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,31},{324,284}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_01_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{322,284}}</string>
                <key>offset</key>
                <string>{-145,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,31},{322,284}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_01_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,2},{312,284}}</string>
                <key>offset</key>
                <string>{-139,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,31},{312,284}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_01_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,2},{298,284}}</string>
                <key>offset</key>
                <string>{-132,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,30},{298,284}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_01_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,2},{292,284}}</string>
                <key>offset</key>
                <string>{-127,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,30},{292,284}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_01_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,570},{276,284}}</string>
                <key>offset</key>
                <string>{-118,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,30},{276,284}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_01_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,858},{278,284}}</string>
                <key>offset</key>
                <string>{-117,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,30},{278,284}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_01_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1146},{280,284}}</string>
                <key>offset</key>
                <string>{-117,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,29},{280,284}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_01_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,570},{280,286}}</string>
                <key>offset</key>
                <string>{-117,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,27},{280,286}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_01_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,570},{278,286}}</string>
                <key>offset</key>
                <string>{-116,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,27},{278,286}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_01_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,858},{278,286}}</string>
                <key>offset</key>
                <string>{-116,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,27},{278,286}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_01_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,288},{280,286}}</string>
                <key>offset</key>
                <string>{-117,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,27},{280,286}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_01_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,288},{280,286}}</string>
                <key>offset</key>
                <string>{-116,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,28},{280,286}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_01_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1434},{282,286}}</string>
                <key>offset</key>
                <string>{-116,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,28},{282,286}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_01_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1146},{282,286}}</string>
                <key>offset</key>
                <string>{-116,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,28},{282,286}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_01_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,858},{282,286}}</string>
                <key>offset</key>
                <string>{-116,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,28},{282,286}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_01_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,288},{280,286}}</string>
                <key>offset</key>
                <string>{-116,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,28},{280,286}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_01_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1722},{280,286}}</string>
                <key>offset</key>
                <string>{-117,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,27},{280,286}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_01_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1434},{278,286}}</string>
                <key>offset</key>
                <string>{-116,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,27},{278,286}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_01_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1722},{280,286}}</string>
                <key>offset</key>
                <string>{-117,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,27},{280,286}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_01_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{280,286}}</string>
                <key>offset</key>
                <string>{-116,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,28},{280,286}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_01_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{282,286}}</string>
                <key>offset</key>
                <string>{-116,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,28},{282,286}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_01_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,286},{282,286}}</string>
                <key>offset</key>
                <string>{-116,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,28},{282,286}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_01_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,2},{282,286}}</string>
                <key>offset</key>
                <string>{-116,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,28},{282,286}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_01_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,288},{280,286}}</string>
                <key>offset</key>
                <string>{-116,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,28},{280,286}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_01_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1722},{280,286}}</string>
                <key>offset</key>
                <string>{-117,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,27},{280,286}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_01_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1434},{278,286}}</string>
                <key>offset</key>
                <string>{-116,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,27},{278,286}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_01_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1146},{278,286}}</string>
                <key>offset</key>
                <string>{-116,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,27},{278,286}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_01_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,858},{278,286}}</string>
                <key>offset</key>
                <string>{-116,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,27},{278,286}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_01_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,858},{278,286}}</string>
                <key>offset</key>
                <string>{-116,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,27},{278,286}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ani_player_character03_01_off.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e17c08473cea6b007bdb17f8453d02d6:dfbeda3fe57e91eb2465ecfc967f26fd:f520660ee5e06cce2b77bfd234e48f01$</string>
            <key>textureFileName</key>
            <string>ani_player_character03_01_off.png</string>
        </dict>
    </dict>
</plist>
