<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ani_player_character01_03_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{306,276}}</string>
                <key>offset</key>
                <string>{-154,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,88},{306,276}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_03_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{312,278}}</string>
                <key>offset</key>
                <string>{-155,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,86},{312,278}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_03_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{312,278}}</string>
                <key>offset</key>
                <string>{-155,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,86},{312,278}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_03_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,2},{308,278}}</string>
                <key>offset</key>
                <string>{-154,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,86},{308,278}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_03_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,838},{304,276}}</string>
                <key>offset</key>
                <string>{-152,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,88},{304,276}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_03_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,838},{304,276}}</string>
                <key>offset</key>
                <string>{-152,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,88},{304,276}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_03_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,1392},{302,276}}</string>
                <key>offset</key>
                <string>{-151,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,88},{302,276}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_03_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,560},{304,276}}</string>
                <key>offset</key>
                <string>{-151,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,88},{304,276}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_03_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,560},{304,276}}</string>
                <key>offset</key>
                <string>{-151,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,88},{304,276}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_03_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1116},{302,276}}</string>
                <key>offset</key>
                <string>{-151,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,88},{302,276}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_03_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1670},{302,274}}</string>
                <key>offset</key>
                <string>{-151,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,90},{302,274}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_03_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1116},{302,276}}</string>
                <key>offset</key>
                <string>{-152,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,88},{302,276}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_03_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,838},{304,274}}</string>
                <key>offset</key>
                <string>{-152,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,90},{304,274}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_03_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{304,276}}</string>
                <key>offset</key>
                <string>{-152,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,88},{304,276}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_03_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,282},{304,276}}</string>
                <key>offset</key>
                <string>{-152,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,88},{304,276}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_03_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,282},{304,276}}</string>
                <key>offset</key>
                <string>{-152,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,88},{304,276}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_03_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,1114},{302,276}}</string>
                <key>offset</key>
                <string>{-152,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,88},{302,276}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_03_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1394},{300,280}}</string>
                <key>offset</key>
                <string>{-152,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,84},{300,280}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_03_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1394},{300,280}}</string>
                <key>offset</key>
                <string>{-152,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,84},{300,280}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_03_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1394},{300,280}}</string>
                <key>offset</key>
                <string>{-152,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,84},{300,280}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_03_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1394},{300,280}}</string>
                <key>offset</key>
                <string>{-152,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,84},{300,280}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_03_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1394},{300,280}}</string>
                <key>offset</key>
                <string>{-152,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,84},{300,280}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ani_player_character01_03.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a454c82e1dda1db7de8dff2cf93bb08:f1afddcee249b7d48e27305081adddb9:12c0f4fa17b18a41d06f44724e647e3e$</string>
            <key>textureFileName</key>
            <string>ani_player_character01_03.png</string>
        </dict>
    </dict>
</plist>
