<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ani_player_character02_02_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,1250},{228,328}}</string>
                <key>offset</key>
                <string>{153,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,53},{228,328}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,1024},{228,328}}</string>
                <key>offset</key>
                <string>{153,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{381,53},{228,328}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,918},{228,330}}</string>
                <key>offset</key>
                <string>{154,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,52},{228,330}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,794},{228,330}}</string>
                <key>offset</key>
                <string>{154,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{382,52},{228,330}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,586},{228,330}}</string>
                <key>offset</key>
                <string>{154,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,52},{228,330}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,564},{228,330}}</string>
                <key>offset</key>
                <string>{154,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{382,52},{228,330}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,334},{228,330}}</string>
                <key>offset</key>
                <string>{154,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{382,52},{228,330}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,254},{228,330}}</string>
                <key>offset</key>
                <string>{154,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,52},{228,330}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,2},{228,330}}</string>
                <key>offset</key>
                <string>{154,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,52},{228,330}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,2},{232,330}}</string>
                <key>offset</key>
                <string>{152,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{378,52},{232,330}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,334},{242,330}}</string>
                <key>offset</key>
                <string>{148,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{369,52},{242,330}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,1662},{254,330}}</string>
                <key>offset</key>
                <string>{142,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{357,52},{254,330}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,666},{282,330}}</string>
                <key>offset</key>
                <string>{140,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{341,52},{282,330}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,998},{302,330}}</string>
                <key>offset</key>
                <string>{145,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{336,52},{302,330}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{304,330}}</string>
                <key>offset</key>
                <string>{145,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{335,52},{304,330}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,666},{292,330}}</string>
                <key>offset</key>
                <string>{150,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{346,52},{292,330}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,2},{270,330}}</string>
                <key>offset</key>
                <string>{151,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{358,52},{270,330}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,666},{252,330}}</string>
                <key>offset</key>
                <string>{150,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{366,52},{252,330}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,666},{254,330}}</string>
                <key>offset</key>
                <string>{150,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{365,52},{254,330}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,1662},{260,330}}</string>
                <key>offset</key>
                <string>{152,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{364,52},{260,330}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,334},{272,330}}</string>
                <key>offset</key>
                <string>{151,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{357,52},{272,330}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,998},{284,330}}</string>
                <key>offset</key>
                <string>{150,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{350,52},{284,330}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,334},{294,330}}</string>
                <key>offset</key>
                <string>{149,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{344,52},{294,330}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1662},{298,330}}</string>
                <key>offset</key>
                <string>{149,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{342,52},{298,330}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1330},{300,330}}</string>
                <key>offset</key>
                <string>{149,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{341,52},{300,330}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1662},{298,330}}</string>
                <key>offset</key>
                <string>{149,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{342,52},{298,330}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{292,330}}</string>
                <key>offset</key>
                <string>{150,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{346,52},{292,330}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{280,330}}</string>
                <key>offset</key>
                <string>{152,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{354,52},{280,330}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1330},{268,330}}</string>
                <key>offset</key>
                <string>{153,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{361,52},{268,330}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,1330},{258,330}}</string>
                <key>offset</key>
                <string>{153,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{366,52},{258,330}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,998},{252,330}}</string>
                <key>offset</key>
                <string>{152,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{368,52},{252,330}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,2},{250,330}}</string>
                <key>offset</key>
                <string>{151,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{368,52},{250,330}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,1330},{252,330}}</string>
                <key>offset</key>
                <string>{151,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{367,52},{252,330}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,998},{254,330}}</string>
                <key>offset</key>
                <string>{153,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{368,52},{254,330}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1662},{264,330}}</string>
                <key>offset</key>
                <string>{152,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{362,52},{264,330}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,334},{278,330}}</string>
                <key>offset</key>
                <string>{150,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{353,52},{278,330}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,998},{288,330}}</string>
                <key>offset</key>
                <string>{148,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{346,52},{288,330}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1330},{296,330}}</string>
                <key>offset</key>
                <string>{147,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{341,52},{296,330}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{302,330}}</string>
                <key>offset</key>
                <string>{146,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{337,52},{302,330}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{302,330}}</string>
                <key>offset</key>
                <string>{146,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{337,52},{302,330}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ani_player_character02_02.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32a3537514c4de2505e6169a1c67c967:585e57390a629a3412d699d919ada6ad:21883bc9a64842f8decd8e27a1ef3676$</string>
            <key>textureFileName</key>
            <string>ani_player_character02_02.png</string>
        </dict>
    </dict>
</plist>
