<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ani_player_character02_04_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,1178},{228,308}}</string>
                <key>offset</key>
                <string>{192,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{420,51},{228,308}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_04_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,1430},{228,308}}</string>
                <key>offset</key>
                <string>{192,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{420,51},{228,308}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_04_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,2},{262,314}}</string>
                <key>offset</key>
                <string>{176,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{387,49},{262,314}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_04_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1582},{266,314}}</string>
                <key>offset</key>
                <string>{174,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,50},{266,314}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_04_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1266},{266,314}}</string>
                <key>offset</key>
                <string>{174,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,50},{266,314}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_04_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,950},{266,314}}</string>
                <key>offset</key>
                <string>{174,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,50},{266,314}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_04_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{266,314}}</string>
                <key>offset</key>
                <string>{174,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,50},{266,314}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_04_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{266,314}}</string>
                <key>offset</key>
                <string>{174,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,50},{266,314}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_04_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{266,314}}</string>
                <key>offset</key>
                <string>{175,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{384,49},{266,314}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_04_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{262,314}}</string>
                <key>offset</key>
                <string>{177,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{388,49},{262,314}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_04_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,2},{260,312}}</string>
                <key>offset</key>
                <string>{179,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{391,51},{260,312}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_04_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1684},{254,308}}</string>
                <key>offset</key>
                <string>{182,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{397,50},{254,308}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_04_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,610},{282,308}}</string>
                <key>offset</key>
                <string>{180,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{381,50},{282,308}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_04_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,2},{302,308}}</string>
                <key>offset</key>
                <string>{184,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{375,50},{302,308}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_04_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,264},{304,308}}</string>
                <key>offset</key>
                <string>{184,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{374,50},{304,308}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_04_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,570},{292,308}}</string>
                <key>offset</key>
                <string>{188,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{384,50},{292,308}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_04_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,1144},{270,308}}</string>
                <key>offset</key>
                <string>{190,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{397,50},{270,308}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_04_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,1676},{252,308}}</string>
                <key>offset</key>
                <string>{189,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{405,50},{252,308}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_04_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1428},{254,308}}</string>
                <key>offset</key>
                <string>{189,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{404,50},{254,308}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_04_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,1168},{260,308}}</string>
                <key>offset</key>
                <string>{190,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{402,50},{260,308}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_04_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,894},{272,308}}</string>
                <key>offset</key>
                <string>{189,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{395,50},{272,308}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_04_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1144},{282,308}}</string>
                <key>offset</key>
                <string>{189,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{390,50},{282,308}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_04_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,566},{292,308}}</string>
                <key>offset</key>
                <string>{188,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{384,50},{292,308}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_04_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,608},{300,308}}</string>
                <key>offset</key>
                <string>{187,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{379,50},{300,308}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_04_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,308},{300,308}}</string>
                <key>offset</key>
                <string>{187,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{379,50},{300,308}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_04_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,266},{298,308}}</string>
                <key>offset</key>
                <string>{188,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{381,50},{298,308}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_04_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,564},{292,308}}</string>
                <key>offset</key>
                <string>{188,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{384,50},{292,308}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_04_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,860},{282,308}}</string>
                <key>offset</key>
                <string>{190,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{391,50},{282,308}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_04_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,1148},{268,308}}</string>
                <key>offset</key>
                <string>{192,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{400,50},{268,308}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_04_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,1416},{258,308}}</string>
                <key>offset</key>
                <string>{192,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{405,50},{258,308}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_04_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,1676},{252,308}}</string>
                <key>offset</key>
                <string>{190,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{406,50},{252,308}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_04_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,1660},{250,308}}</string>
                <key>offset</key>
                <string>{190,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{407,50},{250,308}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_04_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1684},{252,308}}</string>
                <key>offset</key>
                <string>{190,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{406,50},{252,308}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_04_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,1418},{256,308}}</string>
                <key>offset</key>
                <string>{191,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{405,50},{256,308}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_04_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,910},{266,308}}</string>
                <key>offset</key>
                <string>{190,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{399,50},{266,308}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_04_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,864},{278,308}}</string>
                <key>offset</key>
                <string>{188,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{391,50},{278,308}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_04_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,858},{288,308}}</string>
                <key>offset</key>
                <string>{187,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{385,50},{288,308}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_04_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,266},{296,308}}</string>
                <key>offset</key>
                <string>{185,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{379,50},{296,308}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_04_00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,306},{300,308}}</string>
                <key>offset</key>
                <string>{185,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{377,50},{300,308}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_04_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,2},{304,308}}</string>
                <key>offset</key>
                <string>{184,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{374,50},{304,308}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ani_player_character02_04.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f2067d64f52daa10dc5c9e881a1e43c:bbc12cac9eae55cbb2b6ec686acd623a:75a1dc339156bb5010e57e45f2d2534b$</string>
            <key>textureFileName</key>
            <string>ani_player_character02_04.png</string>
        </dict>
    </dict>
</plist>
