<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ani_player_character02_02_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1652,1246},{228,304}}</string>
                <key>offset</key>
                <string>{199,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{427,36},{228,304}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,1166},{228,304}}</string>
                <key>offset</key>
                <string>{200,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{428,36},{228,304}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1652,1016},{228,304}}</string>
                <key>offset</key>
                <string>{200,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{428,36},{228,304}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,934},{228,306}}</string>
                <key>offset</key>
                <string>{200,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{428,35},{228,306}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{262,310}}</string>
                <key>offset</key>
                <string>{183,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{394,31},{262,310}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{262,310}}</string>
                <key>offset</key>
                <string>{183,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{394,31},{262,310}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1242},{228,306}}</string>
                <key>offset</key>
                <string>{200,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{428,35},{228,306}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1550},{228,306}}</string>
                <key>offset</key>
                <string>{200,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{428,35},{228,306}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1242},{228,306}}</string>
                <key>offset</key>
                <string>{201,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{429,35},{228,306}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,614},{232,304}}</string>
                <key>offset</key>
                <string>{199,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,36},{232,304}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,920},{244,304}}</string>
                <key>offset</key>
                <string>{194,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{414,36},{244,304}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,2},{254,304}}</string>
                <key>offset</key>
                <string>{189,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{404,36},{254,304}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,308},{282,304}}</string>
                <key>offset</key>
                <string>{187,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{388,36},{282,304}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,2},{302,304}}</string>
                <key>offset</key>
                <string>{191,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,36},{302,304}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,310},{302,304}}</string>
                <key>offset</key>
                <string>{191,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,36},{302,304}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,2},{294,304}}</string>
                <key>offset</key>
                <string>{195,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{390,36},{294,304}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,1536},{270,304}}</string>
                <key>offset</key>
                <string>{197,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{404,36},{270,304}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,510},{252,304}}</string>
                <key>offset</key>
                <string>{196,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{412,36},{252,304}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,934},{254,306}}</string>
                <key>offset</key>
                <string>{196,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{411,35},{254,306}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,310},{260,306}}</string>
                <key>offset</key>
                <string>{197,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{409,35},{260,306}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{272,306}}</string>
                <key>offset</key>
                <string>{196,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{402,35},{272,306}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{282,306}}</string>
                <key>offset</key>
                <string>{196,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{397,35},{282,306}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1548},{292,304}}</string>
                <key>offset</key>
                <string>{195,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{391,36},{292,304}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,924},{298,304}}</string>
                <key>offset</key>
                <string>{193,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{386,36},{298,304}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,1242},{298,304}}</string>
                <key>offset</key>
                <string>{193,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{386,36},{298,304}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,308},{296,304}}</string>
                <key>offset</key>
                <string>{194,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{388,36},{296,304}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1230},{290,304}}</string>
                <key>offset</key>
                <string>{196,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{393,36},{290,304}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,614},{282,304}}</string>
                <key>offset</key>
                <string>{197,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{398,36},{282,304}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,1228},{268,304}}</string>
                <key>offset</key>
                <string>{199,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{407,36},{268,304}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,614},{258,304}}</string>
                <key>offset</key>
                <string>{199,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{412,36},{258,304}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,256},{252,304}}</string>
                <key>offset</key>
                <string>{198,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{414,36},{252,304}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,764},{250,304}}</string>
                <key>offset</key>
                <string>{197,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{414,36},{250,304}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,2},{252,304}}</string>
                <key>offset</key>
                <string>{197,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{413,36},{252,304}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,308},{256,304}}</string>
                <key>offset</key>
                <string>{198,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{412,36},{256,304}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,920},{266,304}}</string>
                <key>offset</key>
                <string>{197,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{406,36},{266,304}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,2},{278,304}}</string>
                <key>offset</key>
                <string>{195,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{398,36},{278,304}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,922},{288,304}}</string>
                <key>offset</key>
                <string>{194,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{392,36},{288,304}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,616},{296,304}}</string>
                <key>offset</key>
                <string>{192,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{386,36},{296,304}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1550},{300,304}}</string>
                <key>offset</key>
                <string>{192,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{384,36},{300,304}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_02_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,618},{302,304}}</string>
                <key>offset</key>
                <string>{191,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,36},{302,304}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ani_player_character02_02_off.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c719a45cbd58988f4bc11b64e8ec3a90:dc0ce91b6447fe1eaabdb01446163900:31a4428aba9aa83589355f80a5ec5a81$</string>
            <key>textureFileName</key>
            <string>ani_player_character02_02_off.png</string>
        </dict>
    </dict>
</plist>
