<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ani_player_character04_02_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{258,298}}</string>
                <key>offset</key>
                <string>{148,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{361,28},{258,298}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character04_02_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{260,298}}</string>
                <key>offset</key>
                <string>{138,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{350,28},{260,298}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character04_02_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{276,296}}</string>
                <key>offset</key>
                <string>{127,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{331,34},{276,296}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character04_02_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,262},{248,296}}</string>
                <key>offset</key>
                <string>{140,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{358,34},{248,296}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character04_02_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{240,296}}</string>
                <key>offset</key>
                <string>{144,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{366,34},{240,296}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character04_02_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,996},{240,294}}</string>
                <key>offset</key>
                <string>{144,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{366,35},{240,294}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character04_02_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1716},{240,292}}</string>
                <key>offset</key>
                <string>{144,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{366,35},{240,292}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character04_02_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,1732},{240,290}}</string>
                <key>offset</key>
                <string>{144,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{366,35},{240,290}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character04_02_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,1490},{240,290}}</string>
                <key>offset</key>
                <string>{144,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{366,35},{240,290}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character04_02_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1716},{240,292}}</string>
                <key>offset</key>
                <string>{144,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{366,34},{240,292}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character04_02_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1474},{240,292}}</string>
                <key>offset</key>
                <string>{144,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{366,35},{240,292}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character04_02_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,764},{240,294}}</string>
                <key>offset</key>
                <string>{144,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{366,35},{240,294}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character04_02_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,990},{240,294}}</string>
                <key>offset</key>
                <string>{144,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{366,35},{240,294}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character04_02_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,754},{240,294}}</string>
                <key>offset</key>
                <string>{144,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{366,35},{240,294}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character04_02_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,522},{240,294}}</string>
                <key>offset</key>
                <string>{144,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{366,35},{240,294}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character04_02_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,748},{240,294}}</string>
                <key>offset</key>
                <string>{144,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{366,35},{240,294}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character04_02_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,512},{240,294}}</string>
                <key>offset</key>
                <string>{144,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{366,34},{240,294}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character04_02_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1238},{240,292}}</string>
                <key>offset</key>
                <string>{144,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{366,34},{240,292}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character04_02_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,1490},{240,290}}</string>
                <key>offset</key>
                <string>{144,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{366,35},{240,290}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character04_02_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,1248},{240,290}}</string>
                <key>offset</key>
                <string>{144,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{366,35},{240,290}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character04_02_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,1006},{240,292}}</string>
                <key>offset</key>
                <string>{144,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{366,34},{240,292}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character04_02_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1232},{240,292}}</string>
                <key>offset</key>
                <string>{144,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{366,35},{240,292}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character04_02_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,280},{240,294}}</string>
                <key>offset</key>
                <string>{144,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{366,35},{240,294}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character04_02_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{240,294}}</string>
                <key>offset</key>
                <string>{144,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{366,35},{240,294}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character04_02_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,754},{240,294}}</string>
                <key>offset</key>
                <string>{144,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{366,35},{240,294}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ani_player_character04_02_off.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66269a93194fd2b7c41b0d991b24d94d:94d43a7031110017f17adb79d2348e9c:257d3f653359b7dccd2d4490b8bf1570$</string>
            <key>textureFileName</key>
            <string>ani_player_character04_02_off.png</string>
        </dict>
    </dict>
</plist>
