<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ani_player_character01_01_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,280},{314,276}}</string>
                <key>offset</key>
                <string>{-157,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,29},{314,276}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_01_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{318,278}}</string>
                <key>offset</key>
                <string>{-157,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,29},{318,278}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_01_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{318,278}}</string>
                <key>offset</key>
                <string>{-157,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,29},{318,278}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_01_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{314,276}}</string>
                <key>offset</key>
                <string>{-156,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,29},{314,276}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_01_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,558},{312,274}}</string>
                <key>offset</key>
                <string>{-155,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,30},{312,274}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_01_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{312,274}}</string>
                <key>offset</key>
                <string>{-154,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,30},{312,274}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_01_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,282},{312,274}}</string>
                <key>offset</key>
                <string>{-154,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,30},{312,274}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_01_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{312,274}}</string>
                <key>offset</key>
                <string>{-154,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,30},{312,274}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_01_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,1110},{310,274}}</string>
                <key>offset</key>
                <string>{-153,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,30},{310,274}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_01_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1110},{310,274}}</string>
                <key>offset</key>
                <string>{-154,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,30},{310,274}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_01_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1734},{310,274}}</string>
                <key>offset</key>
                <string>{-154,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,30},{310,274}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_01_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1422},{310,274}}</string>
                <key>offset</key>
                <string>{-155,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,30},{310,274}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_01_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1110},{310,274}}</string>
                <key>offset</key>
                <string>{-154,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,30},{310,274}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_01_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,834},{310,274}}</string>
                <key>offset</key>
                <string>{-154,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,30},{310,274}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_01_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,834},{310,274}}</string>
                <key>offset</key>
                <string>{-154,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,29},{310,274}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_01_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,834},{310,274}}</string>
                <key>offset</key>
                <string>{-154,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,30},{310,274}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_01_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,558},{310,274}}</string>
                <key>offset</key>
                <string>{-155,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,30},{310,274}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_01_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1386},{308,274}}</string>
                <key>offset</key>
                <string>{-156,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,29},{308,274}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_01_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1386},{308,274}}</string>
                <key>offset</key>
                <string>{-156,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,29},{308,274}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_01_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1386},{308,274}}</string>
                <key>offset</key>
                <string>{-156,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,29},{308,274}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_01_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1386},{308,274}}</string>
                <key>offset</key>
                <string>{-156,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,29},{308,274}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_01_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1386},{308,274}}</string>
                <key>offset</key>
                <string>{-156,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,29},{308,274}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ani_player_character01_01_off.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc2eed816d20776763e1b2ec0222e446:daba6dfd4ff581a9b67499073f7c9f18:6ec12984e833f8d665aee6fb100fa62f$</string>
            <key>textureFileName</key>
            <string>ani_player_character01_01_off.png</string>
        </dict>
    </dict>
</plist>
