<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ani_player_character01_04_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,286},{304,282}}</string>
                <key>offset</key>
                <string>{151,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{341,82},{304,282}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_04_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{310,284}}</string>
                <key>offset</key>
                <string>{151,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{338,80},{310,284}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_04_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{310,284}}</string>
                <key>offset</key>
                <string>{151,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{338,80},{310,284}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_04_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{306,282}}</string>
                <key>offset</key>
                <string>{150,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{339,82},{306,282}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_04_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,288},{302,282}}</string>
                <key>offset</key>
                <string>{149,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{340,82},{302,282}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_04_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1432},{300,280}}</string>
                <key>offset</key>
                <string>{148,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{340,84},{300,280}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_04_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1430},{300,280}}</string>
                <key>offset</key>
                <string>{148,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{340,84},{300,280}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_04_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1428},{300,280}}</string>
                <key>offset</key>
                <string>{148,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{340,84},{300,280}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_04_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1148},{300,282}}</string>
                <key>offset</key>
                <string>{147,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{339,82},{300,282}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_04_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,860},{300,284}}</string>
                <key>offset</key>
                <string>{147,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{339,80},{300,284}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_04_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,860},{300,286}}</string>
                <key>offset</key>
                <string>{147,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{339,78},{300,286}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_04_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,572},{300,286}}</string>
                <key>offset</key>
                <string>{147,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{339,78},{300,286}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_04_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,860},{300,284}}</string>
                <key>offset</key>
                <string>{148,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{340,80},{300,284}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_04_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1146},{300,280}}</string>
                <key>offset</key>
                <string>{148,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{340,84},{300,280}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_04_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{302,282}}</string>
                <key>offset</key>
                <string>{148,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{339,82},{302,282}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_04_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1146},{300,282}}</string>
                <key>offset</key>
                <string>{148,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{340,82},{300,282}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_04_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{300,286}}</string>
                <key>offset</key>
                <string>{148,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{340,78},{300,286}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_04_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,570},{300,288}}</string>
                <key>offset</key>
                <string>{148,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{340,75},{300,288}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_04_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,570},{300,288}}</string>
                <key>offset</key>
                <string>{148,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{340,75},{300,288}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_04_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,570},{300,288}}</string>
                <key>offset</key>
                <string>{148,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{340,75},{300,288}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_04_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,570},{300,288}}</string>
                <key>offset</key>
                <string>{148,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{340,75},{300,288}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_04_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,570},{300,288}}</string>
                <key>offset</key>
                <string>{148,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{340,75},{300,288}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ani_player_character01_04.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cdc342d7b843845230fabf6e5977335f:b1d8e57072594e6679db9dae67471a78:eb95e889d6889f375d8eb7a4f0ee4805$</string>
            <key>textureFileName</key>
            <string>ani_player_character01_04.png</string>
        </dict>
    </dict>
</plist>
