<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ani_player_character03_04_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{324,282}}</string>
                <key>offset</key>
                <string>{155,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{335,81},{324,282}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_04_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{322,282}}</string>
                <key>offset</key>
                <string>{153,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{334,81},{322,282}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_04_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,2},{312,282}}</string>
                <key>offset</key>
                <string>{147,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{333,81},{312,282}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_04_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,2},{300,282}}</string>
                <key>offset</key>
                <string>{140,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{332,81},{300,282}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_04_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,2},{292,282}}</string>
                <key>offset</key>
                <string>{135,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{331,81},{292,282}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_04_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,848},{274,284}}</string>
                <key>offset</key>
                <string>{125,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{330,81},{274,284}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_04_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,848},{276,284}}</string>
                <key>offset</key>
                <string>{124,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{328,82},{276,284}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_04_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,846},{278,284}}</string>
                <key>offset</key>
                <string>{124,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{327,82},{278,284}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_04_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,566},{278,284}}</string>
                <key>offset</key>
                <string>{124,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{327,82},{278,284}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_04_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,566},{278,284}}</string>
                <key>offset</key>
                <string>{124,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{327,82},{278,284}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_04_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,566},{278,284}}</string>
                <key>offset</key>
                <string>{124,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{327,82},{278,284}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_04_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,568},{278,284}}</string>
                <key>offset</key>
                <string>{124,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{327,82},{278,284}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_04_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,286},{280,286}}</string>
                <key>offset</key>
                <string>{123,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{325,81},{280,286}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_04_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,286},{280,286}}</string>
                <key>offset</key>
                <string>{123,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{325,81},{280,286}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_04_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1718},{280,286}}</string>
                <key>offset</key>
                <string>{123,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{325,81},{280,286}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_04_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1430},{280,286}}</string>
                <key>offset</key>
                <string>{123,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{325,81},{280,286}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_04_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1142},{280,286}}</string>
                <key>offset</key>
                <string>{123,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{325,81},{280,286}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_04_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,568},{278,284}}</string>
                <key>offset</key>
                <string>{124,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{327,82},{278,284}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_04_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,566},{278,284}}</string>
                <key>offset</key>
                <string>{124,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{327,82},{278,284}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_04_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,286},{278,284}}</string>
                <key>offset</key>
                <string>{124,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{327,82},{278,284}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_04_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{280,286}}</string>
                <key>offset</key>
                <string>{123,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{325,81},{280,286}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_04_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{280,286}}</string>
                <key>offset</key>
                <string>{123,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{325,81},{280,286}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_04_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,284},{280,286}}</string>
                <key>offset</key>
                <string>{123,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{325,81},{280,286}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_04_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,2},{280,286}}</string>
                <key>offset</key>
                <string>{123,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{325,81},{280,286}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_04_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1142},{280,286}}</string>
                <key>offset</key>
                <string>{123,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{325,81},{280,286}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_04_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,568},{278,284}}</string>
                <key>offset</key>
                <string>{124,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{327,82},{278,284}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_04_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,566},{278,284}}</string>
                <key>offset</key>
                <string>{124,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{327,82},{278,284}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_04_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,286},{278,284}}</string>
                <key>offset</key>
                <string>{124,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{327,82},{278,284}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_04_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{278,284}}</string>
                <key>offset</key>
                <string>{124,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{327,82},{278,284}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_04_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{278,284}}</string>
                <key>offset</key>
                <string>{124,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{327,82},{278,284}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ani_player_character03_04.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:44372b292c9529374779ccf8ac136c47:efeb02456597123aa4e13e53271c9cb2:b0e73cb6d38ff97915cd47b387ff3e7e$</string>
            <key>textureFileName</key>
            <string>ani_player_character03_04.png</string>
        </dict>
    </dict>
</plist>
