<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ani_player_character01_02_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,960},{314,316}}</string>
                <key>offset</key>
                <string>{147,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{332,65},{314,316}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_02_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{318,318}}</string>
                <key>offset</key>
                <string>{147,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{330,64},{318,318}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_02_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{318,318}}</string>
                <key>offset</key>
                <string>{147,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{330,64},{318,318}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_02_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{314,316}}</string>
                <key>offset</key>
                <string>{148,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{333,66},{314,316}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_02_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,316},{312,314}}</string>
                <key>offset</key>
                <string>{149,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{335,67},{312,314}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_02_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{312,314}}</string>
                <key>offset</key>
                <string>{150,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{336,67},{312,314}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_02_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,642},{312,314}}</string>
                <key>offset</key>
                <string>{150,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{336,67},{312,314}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_02_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1592},{312,314}}</string>
                <key>offset</key>
                <string>{150,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{336,67},{312,314}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_02_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,318},{310,314}}</string>
                <key>offset</key>
                <string>{151,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{338,67},{310,314}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_02_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{310,314}}</string>
                <key>offset</key>
                <string>{150,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{337,67},{310,314}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_02_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,1586},{310,314}}</string>
                <key>offset</key>
                <string>{150,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{337,67},{310,314}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_02_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,1274},{310,314}}</string>
                <key>offset</key>
                <string>{149,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{336,67},{310,314}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_02_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,630},{310,314}}</string>
                <key>offset</key>
                <string>{150,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{337,67},{310,314}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_02_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,958},{310,314}}</string>
                <key>offset</key>
                <string>{150,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{337,67},{310,314}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_02_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1590},{310,314}}</string>
                <key>offset</key>
                <string>{150,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{337,67},{310,314}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_02_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1278},{312,314}}</string>
                <key>offset</key>
                <string>{149,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{335,67},{312,314}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_02_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1274},{310,314}}</string>
                <key>offset</key>
                <string>{149,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{336,67},{310,314}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_02_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,958},{310,314}}</string>
                <key>offset</key>
                <string>{148,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{335,66},{310,314}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_02_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,958},{310,314}}</string>
                <key>offset</key>
                <string>{148,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{335,66},{310,314}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_02_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,958},{310,314}}</string>
                <key>offset</key>
                <string>{148,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{335,66},{310,314}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_02_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,958},{310,314}}</string>
                <key>offset</key>
                <string>{148,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{335,66},{310,314}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_02_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,958},{310,314}}</string>
                <key>offset</key>
                <string>{148,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{335,66},{310,314}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ani_player_character01_02.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:229b933343ac2606cb5c1fa952cdb1d8:b7b3143817734afae9d3598503932ece:bbb56017a5ff23343c6a793ba9ec5f0f$</string>
            <key>textureFileName</key>
            <string>ani_player_character01_02.png</string>
        </dict>
    </dict>
</plist>
