<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ani_player_character02_01_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,2},{228,296}}</string>
                <key>offset</key>
                <string>{-207,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,36},{228,296}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_01_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,300},{228,296}}</string>
                <key>offset</key>
                <string>{-207,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,36},{228,296}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_01_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,598},{228,296}}</string>
                <key>offset</key>
                <string>{-207,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,36},{228,296}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_01_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,2},{228,296}}</string>
                <key>offset</key>
                <string>{-207,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,36},{228,296}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_01_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,300},{228,296}}</string>
                <key>offset</key>
                <string>{-207,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,36},{228,296}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_01_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1790,2},{228,296}}</string>
                <key>offset</key>
                <string>{-207,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,36},{228,296}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_01_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,1790},{228,296}}</string>
                <key>offset</key>
                <string>{-207,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,36},{228,296}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_01_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,1492},{228,296}}</string>
                <key>offset</key>
                <string>{-207,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,36},{228,296}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_01_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,1798},{228,296}}</string>
                <key>offset</key>
                <string>{-208,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,36},{228,296}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_01_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1802},{232,296}}</string>
                <key>offset</key>
                <string>{-206,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,36},{232,296}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_01_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1802},{242,296}}</string>
                <key>offset</key>
                <string>{-201,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,36},{242,296}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_01_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,896},{254,296}}</string>
                <key>offset</key>
                <string>{-196,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,36},{254,296}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_01_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,2},{282,296}}</string>
                <key>offset</key>
                <string>{-195,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,36},{282,296}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_01_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,602},{292,296}}</string>
                <key>offset</key>
                <string>{-196,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{292,296}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_01_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,902},{292,296}}</string>
                <key>offset</key>
                <string>{-196,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{292,296}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_01_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,300},{282,296}}</string>
                <key>offset</key>
                <string>{-201,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{282,296}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_01_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,1496},{270,296}}</string>
                <key>offset</key>
                <string>{-207,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{270,296}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_01_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,1502},{252,298}}</string>
                <key>offset</key>
                <string>{-206,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,35},{252,298}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_01_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1502},{254,298}}</string>
                <key>offset</key>
                <string>{-207,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,35},{254,298}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_01_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1202},{260,298}}</string>
                <key>offset</key>
                <string>{-208,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,35},{260,298}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_01_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,902},{270,298}}</string>
                <key>offset</key>
                <string>{-207,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,35},{270,298}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_01_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{276,298}}</string>
                <key>offset</key>
                <string>{-204,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,35},{276,298}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_01_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{282,298}}</string>
                <key>offset</key>
                <string>{-201,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,35},{282,298}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_01_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{286,298}}</string>
                <key>offset</key>
                <string>{-199,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,35},{286,298}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_01_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1500},{288,296}}</string>
                <key>offset</key>
                <string>{-198,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{288,296}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_01_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,1200},{286,296}}</string>
                <key>offset</key>
                <string>{-199,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{286,296}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_01_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,600},{282,296}}</string>
                <key>offset</key>
                <string>{-201,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{282,296}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_01_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1198},{274,296}}</string>
                <key>offset</key>
                <string>{-205,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{274,296}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_01_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,898},{266,296}}</string>
                <key>offset</key>
                <string>{-209,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{266,296}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_01_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,300},{258,296}}</string>
                <key>offset</key>
                <string>{-210,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,36},{258,296}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_01_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,1194},{252,296}}</string>
                <key>offset</key>
                <string>{-208,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,36},{252,296}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_01_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,1796},{250,296}}</string>
                <key>offset</key>
                <string>{-207,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,36},{250,296}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_01_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,1794},{252,296}}</string>
                <key>offset</key>
                <string>{-208,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,36},{252,296}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_01_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,2},{256,296}}</string>
                <key>offset</key>
                <string>{-209,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,36},{256,296}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_01_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,598},{264,296}}</string>
                <key>offset</key>
                <string>{-208,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,36},{264,296}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_01_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,1498},{274,296}}</string>
                <key>offset</key>
                <string>{-205,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{274,296}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_01_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,900},{282,296}}</string>
                <key>offset</key>
                <string>{-201,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{282,296}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_01_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{288,296}}</string>
                <key>offset</key>
                <string>{-198,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{288,296}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_01_00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,302},{290,296}}</string>
                <key>offset</key>
                <string>{-197,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{290,296}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character02_01_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,1202},{292,296}}</string>
                <key>offset</key>
                <string>{-196,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{292,296}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ani_player_character02_01_off.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5785b8d8d1044be3ef9afa3abfa8bbe:5e9c6199018484bfaf2cb5bb9617dcba:3c43571a1d5f09aceddf491efafab4b7$</string>
            <key>textureFileName</key>
            <string>ani_player_character02_01_off.png</string>
        </dict>
    </dict>
</plist>
