<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ani_player_character03_03_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{324,284}}</string>
                <key>offset</key>
                <string>{-140,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,80},{324,284}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_03_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{322,284}}</string>
                <key>offset</key>
                <string>{-139,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,80},{322,284}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_03_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,2},{312,284}}</string>
                <key>offset</key>
                <string>{-133,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,80},{312,284}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_03_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,2},{300,284}}</string>
                <key>offset</key>
                <string>{-126,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,80},{300,284}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_03_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,2},{292,282}}</string>
                <key>offset</key>
                <string>{-121,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,81},{292,282}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_03_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1710},{276,284}}</string>
                <key>offset</key>
                <string>{-111,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,80},{276,284}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_03_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1424},{278,284}}</string>
                <key>offset</key>
                <string>{-111,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,81},{278,284}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_03_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1138},{278,284}}</string>
                <key>offset</key>
                <string>{-110,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,82},{278,284}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_03_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,850},{278,286}}</string>
                <key>offset</key>
                <string>{-110,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,81},{278,286}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_03_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,568},{278,286}}</string>
                <key>offset</key>
                <string>{-110,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,81},{278,286}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_03_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,568},{278,286}}</string>
                <key>offset</key>
                <string>{-110,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,81},{278,286}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_03_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,570},{278,286}}</string>
                <key>offset</key>
                <string>{-110,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,81},{278,286}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_03_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,288},{280,286}}</string>
                <key>offset</key>
                <string>{-110,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,81},{280,286}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_03_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1712},{280,286}}</string>
                <key>offset</key>
                <string>{-109,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,81},{280,286}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_03_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1424},{280,286}}</string>
                <key>offset</key>
                <string>{-109,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,81},{280,286}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_03_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1136},{280,286}}</string>
                <key>offset</key>
                <string>{-109,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,81},{280,286}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_03_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,848},{280,286}}</string>
                <key>offset</key>
                <string>{-110,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,81},{280,286}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_03_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,568},{278,286}}</string>
                <key>offset</key>
                <string>{-110,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,81},{278,286}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_03_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,288},{278,286}}</string>
                <key>offset</key>
                <string>{-110,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,81},{278,286}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_03_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,288},{278,286}}</string>
                <key>offset</key>
                <string>{-110,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,81},{278,286}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_03_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,566},{280,286}}</string>
                <key>offset</key>
                <string>{-110,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,81},{280,286}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_03_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,286},{280,286}}</string>
                <key>offset</key>
                <string>{-109,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,81},{280,286}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_03_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,284},{280,286}}</string>
                <key>offset</key>
                <string>{-109,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,81},{280,286}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_03_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,2},{280,286}}</string>
                <key>offset</key>
                <string>{-109,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,81},{280,286}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_03_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,848},{280,286}}</string>
                <key>offset</key>
                <string>{-110,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,81},{280,286}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_03_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,568},{278,286}}</string>
                <key>offset</key>
                <string>{-110,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,81},{278,286}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_03_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,288},{278,286}}</string>
                <key>offset</key>
                <string>{-110,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,81},{278,286}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_03_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{278,286}}</string>
                <key>offset</key>
                <string>{-110,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,81},{278,286}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_03_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{278,286}}</string>
                <key>offset</key>
                <string>{-110,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,81},{278,286}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_03_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{278,286}}</string>
                <key>offset</key>
                <string>{-110,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,81},{278,286}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ani_player_character03_03.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2687801395528d14f969e8b8f55f2657:c040ed749723fb0181a994b1312123c2:d752760a7a6d4de52e5d8526e87fb667$</string>
            <key>textureFileName</key>
            <string>ani_player_character03_03.png</string>
        </dict>
    </dict>
</plist>
