<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ani_player_character04_02_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1738,342},{292,338}}</string>
                <key>offset</key>
                <string>{154,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{350,58},{292,338}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character04_02_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,2},{294,338}}</string>
                <key>offset</key>
                <string>{152,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{347,58},{294,338}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character04_02_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{360,342}}</string>
                <key>offset</key>
                <string>{119,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{281,54},{360,342}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character04_02_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{340,342}}</string>
                <key>offset</key>
                <string>{130,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{302,54},{340,342}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character04_02_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,336},{332,342}}</string>
                <key>offset</key>
                <string>{134,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{310,54},{332,342}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character04_02_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{332,342}}</string>
                <key>offset</key>
                <string>{134,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{310,54},{332,342}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character04_02_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1694},{332,338}}</string>
                <key>offset</key>
                <string>{134,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{310,58},{332,338}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character04_02_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1354},{332,338}}</string>
                <key>offset</key>
                <string>{134,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{310,58},{332,338}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character04_02_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1014},{332,338}}</string>
                <key>offset</key>
                <string>{134,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{310,58},{332,338}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character04_02_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1694},{332,338}}</string>
                <key>offset</key>
                <string>{134,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{310,58},{332,338}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character04_02_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{332,340}}</string>
                <key>offset</key>
                <string>{134,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{310,56},{332,340}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character04_02_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,678},{332,340}}</string>
                <key>offset</key>
                <string>{134,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{310,56},{332,340}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character04_02_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,344},{332,342}}</string>
                <key>offset</key>
                <string>{134,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{310,54},{332,342}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character04_02_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,336},{332,342}}</string>
                <key>offset</key>
                <string>{134,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{310,54},{332,342}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character04_02_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,2},{332,342}}</string>
                <key>offset</key>
                <string>{134,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{310,54},{332,342}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character04_02_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,2},{332,342}}</string>
                <key>offset</key>
                <string>{134,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{310,54},{332,342}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character04_02_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,670},{332,340}}</string>
                <key>offset</key>
                <string>{134,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{310,56},{332,340}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character04_02_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1354},{332,338}}</string>
                <key>offset</key>
                <string>{134,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{310,58},{332,338}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character04_02_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1014},{332,338}}</string>
                <key>offset</key>
                <string>{134,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{310,58},{332,338}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character04_02_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,670},{332,338}}</string>
                <key>offset</key>
                <string>{134,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{310,58},{332,338}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character04_02_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,670},{332,338}}</string>
                <key>offset</key>
                <string>{134,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{310,58},{332,338}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character04_02_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{332,340}}</string>
                <key>offset</key>
                <string>{134,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{310,56},{332,340}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character04_02_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,336},{332,340}}</string>
                <key>offset</key>
                <string>{134,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{310,56},{332,340}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character04_02_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,2},{332,342}}</string>
                <key>offset</key>
                <string>{134,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{310,54},{332,342}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character04_02_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,336},{332,342}}</string>
                <key>offset</key>
                <string>{134,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{310,54},{332,342}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ani_player_character04_02.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08d32760ab29eaa33f4b87e6a276f8cd:87cb64ec3fca8114bb14374f06b635fb:a8c57947a9cdac36af75287aa1b6a506$</string>
            <key>textureFileName</key>
            <string>ani_player_character04_02.png</string>
        </dict>
    </dict>
</plist>
