<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ani_player_character01_01_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,294},{306,290}}</string>
                <key>offset</key>
                <string>{-111,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,87},{306,290}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_01_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{312,294}}</string>
                <key>offset</key>
                <string>{-111,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,85},{312,294}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_01_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{312,294}}</string>
                <key>offset</key>
                <string>{-111,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,85},{312,294}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_01_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,2},{308,290}}</string>
                <key>offset</key>
                <string>{-110,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,87},{308,290}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_01_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,586},{304,288}}</string>
                <key>offset</key>
                <string>{-109,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,88},{304,288}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_01_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,298},{304,288}}</string>
                <key>offset</key>
                <string>{-108,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,87},{304,288}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_01_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1164},{304,286}}</string>
                <key>offset</key>
                <string>{-108,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,89},{304,286}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_01_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1470},{304,286}}</string>
                <key>offset</key>
                <string>{-108,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,89},{304,286}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_01_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1164},{304,286}}</string>
                <key>offset</key>
                <string>{-108,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,89},{304,286}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_01_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,876},{304,286}}</string>
                <key>offset</key>
                <string>{-108,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,89},{304,286}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_01_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1740},{302,286}}</string>
                <key>offset</key>
                <string>{-108,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,89},{302,286}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_01_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1452},{302,286}}</string>
                <key>offset</key>
                <string>{-108,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,89},{302,286}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_01_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,876},{304,286}}</string>
                <key>offset</key>
                <string>{-109,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,89},{304,286}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_01_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,876},{304,286}}</string>
                <key>offset</key>
                <string>{-109,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,89},{304,286}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_01_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{304,288}}</string>
                <key>offset</key>
                <string>{-108,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,88},{304,288}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_01_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,588},{304,286}}</string>
                <key>offset</key>
                <string>{-109,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,89},{304,286}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_01_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{304,286}}</string>
                <key>offset</key>
                <string>{-109,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,89},{304,286}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_01_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1164},{302,288}}</string>
                <key>offset</key>
                <string>{-109,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,86},{302,288}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_01_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1164},{302,288}}</string>
                <key>offset</key>
                <string>{-109,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,86},{302,288}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_01_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1164},{302,288}}</string>
                <key>offset</key>
                <string>{-109,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,86},{302,288}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_01_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1164},{302,288}}</string>
                <key>offset</key>
                <string>{-109,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,86},{302,288}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character01_01_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1164},{302,288}}</string>
                <key>offset</key>
                <string>{-109,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,86},{302,288}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ani_player_character01_01.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:710fd6fdfc5524a125b2c53b35180c5e:e6f39c2313ed9e8b2363cfe49b2d74f0:723d7bfd1e31b48f2b1ccea1589cea17$</string>
            <key>textureFileName</key>
            <string>ani_player_character01_01.png</string>
        </dict>
    </dict>
</plist>
