<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ani_help_hand_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,114},{110,175}}</string>
                <key>offset</key>
                <string>{-101,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,93},{110,175}}</string>
                <key>sourceSize</key>
                <string>{348,279}</string>
            </dict>
            <key>ani_help_hand_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,114},{110,175}}</string>
                <key>offset</key>
                <string>{-100,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,89},{110,175}}</string>
                <key>sourceSize</key>
                <string>{348,279}</string>
            </dict>
            <key>ani_help_hand_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,338},{110,173}}</string>
                <key>offset</key>
                <string>{-98,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,87},{110,173}}</string>
                <key>sourceSize</key>
                <string>{348,279}</string>
            </dict>
            <key>ani_help_hand_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,338},{110,173}}</string>
                <key>offset</key>
                <string>{-96,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,83},{110,173}}</string>
                <key>sourceSize</key>
                <string>{348,279}</string>
            </dict>
            <key>ani_help_hand_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,338},{110,173}}</string>
                <key>offset</key>
                <string>{-94,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,79},{110,173}}</string>
                <key>sourceSize</key>
                <string>{348,279}</string>
            </dict>
            <key>ani_help_hand_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,641},{110,173}}</string>
                <key>offset</key>
                <string>{-93,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,75},{110,173}}</string>
                <key>sourceSize</key>
                <string>{348,279}</string>
            </dict>
            <key>ani_help_hand_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,466},{110,173}}</string>
                <key>offset</key>
                <string>{-91,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,71},{110,173}}</string>
                <key>sourceSize</key>
                <string>{348,279}</string>
            </dict>
            <key>ani_help_hand_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,226},{110,173}}</string>
                <key>offset</key>
                <string>{-89,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,67},{110,173}}</string>
                <key>sourceSize</key>
                <string>{348,279}</string>
            </dict>
            <key>ani_help_hand_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,887},{110,175}}</string>
                <key>offset</key>
                <string>{-88,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,62},{110,175}}</string>
                <key>sourceSize</key>
                <string>{348,279}</string>
            </dict>
            <key>ani_help_hand_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,226},{110,173}}</string>
                <key>offset</key>
                <string>{-83,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,58},{110,173}}</string>
                <key>sourceSize</key>
                <string>{348,279}</string>
            </dict>
            <key>ani_help_hand_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,291},{110,173}}</string>
                <key>offset</key>
                <string>{-78,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,53},{110,173}}</string>
                <key>sourceSize</key>
                <string>{348,279}</string>
            </dict>
            <key>ani_help_hand_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,710},{110,175}}</string>
                <key>offset</key>
                <string>{-74,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,46},{110,175}}</string>
                <key>sourceSize</key>
                <string>{348,279}</string>
            </dict>
            <key>ani_help_hand_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,533},{110,175}}</string>
                <key>offset</key>
                <string>{-69,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,41},{110,175}}</string>
                <key>sourceSize</key>
                <string>{348,279}</string>
            </dict>
            <key>ani_help_hand_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,356},{110,175}}</string>
                <key>offset</key>
                <string>{-64,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,36},{110,175}}</string>
                <key>sourceSize</key>
                <string>{348,279}</string>
            </dict>
            <key>ani_help_hand_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,179},{110,175}}</string>
                <key>offset</key>
                <string>{-59,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,31},{110,175}}</string>
                <key>sourceSize</key>
                <string>{348,279}</string>
            </dict>
            <key>ani_help_hand_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,226},{110,173}}</string>
                <key>offset</key>
                <string>{-53,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,30},{110,173}}</string>
                <key>sourceSize</key>
                <string>{348,279}</string>
            </dict>
            <key>ani_help_hand_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,2},{110,175}}</string>
                <key>offset</key>
                <string>{-47,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,26},{110,175}}</string>
                <key>sourceSize</key>
                <string>{348,279}</string>
            </dict>
            <key>ani_help_hand_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{110,175}}</string>
                <key>offset</key>
                <string>{-41,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,23},{110,175}}</string>
                <key>sourceSize</key>
                <string>{348,279}</string>
            </dict>
            <key>ani_help_hand_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,2},{110,175}}</string>
                <key>offset</key>
                <string>{-35,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,21},{110,175}}</string>
                <key>sourceSize</key>
                <string>{348,279}</string>
            </dict>
            <key>ani_help_hand_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{110,175}}</string>
                <key>offset</key>
                <string>{-29,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,18},{110,175}}</string>
                <key>sourceSize</key>
                <string>{348,279}</string>
            </dict>
            <key>ani_help_hand_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,179},{110,173}}</string>
                <key>offset</key>
                <string>{-23,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,17},{110,173}}</string>
                <key>sourceSize</key>
                <string>{348,279}</string>
            </dict>
            <key>ani_help_hand_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,2},{110,175}}</string>
                <key>offset</key>
                <string>{-17,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,13},{110,175}}</string>
                <key>sourceSize</key>
                <string>{348,279}</string>
            </dict>
            <key>ani_help_hand_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,887},{110,175}}</string>
                <key>offset</key>
                <string>{-13,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,13},{110,175}}</string>
                <key>sourceSize</key>
                <string>{348,279}</string>
            </dict>
            <key>ani_help_hand_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{110,175}}</string>
                <key>offset</key>
                <string>{-10,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,12},{110,175}}</string>
                <key>sourceSize</key>
                <string>{348,279}</string>
            </dict>
            <key>ani_help_hand_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,533},{110,175}}</string>
                <key>offset</key>
                <string>{-7,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,12},{110,175}}</string>
                <key>sourceSize</key>
                <string>{348,279}</string>
            </dict>
            <key>ani_help_hand_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,114},{110,173}}</string>
                <key>offset</key>
                <string>{-3,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,13},{110,173}}</string>
                <key>sourceSize</key>
                <string>{348,279}</string>
            </dict>
            <key>ani_help_hand_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{110,175}}</string>
                <key>offset</key>
                <string>{0,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,11},{110,175}}</string>
                <key>sourceSize</key>
                <string>{348,279}</string>
            </dict>
            <key>ani_help_hand_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{110,175}}</string>
                <key>offset</key>
                <string>{3,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,11},{110,175}}</string>
                <key>sourceSize</key>
                <string>{348,279}</string>
            </dict>
            <key>ani_help_hand_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,114},{110,173}}</string>
                <key>offset</key>
                <string>{7,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,12},{110,173}}</string>
                <key>sourceSize</key>
                <string>{348,279}</string>
            </dict>
            <key>ani_help_hand_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,175}}</string>
                <key>offset</key>
                <string>{10,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,10},{110,175}}</string>
                <key>sourceSize</key>
                <string>{348,279}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ani_help_hand.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0df9db0c95525ea7f972c47e91a8f6e1:f74a2e1e27adcb15cd6fdfa248be2736:41e73bccf9022c5c6b97b193ec61fe30$</string>
            <key>textureFileName</key>
            <string>ani_help_hand.png</string>
        </dict>
    </dict>
</plist>
