<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ani_player_character03_01_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{324,314}}</string>
                <key>offset</key>
                <string>{-120,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,70},{324,314}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_01_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{322,314}}</string>
                <key>offset</key>
                <string>{-119,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,70},{322,314}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_01_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,2},{312,314}}</string>
                <key>offset</key>
                <string>{-113,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,70},{312,314}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_01_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,2},{300,314}}</string>
                <key>offset</key>
                <string>{-106,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,69},{300,314}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_01_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,2},{292,312}}</string>
                <key>offset</key>
                <string>{-101,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,71},{292,312}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_01_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{284,312}}</string>
                <key>offset</key>
                <string>{-95,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,70},{284,312}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_01_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,876},{284,312}}</string>
                <key>offset</key>
                <string>{-94,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,70},{284,312}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_01_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1468},{286,310}}</string>
                <key>offset</key>
                <string>{-94,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,72},{286,310}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_01_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,894},{286,310}}</string>
                <key>offset</key>
                <string>{-93,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,72},{286,310}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_01_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1180},{286,310}}</string>
                <key>offset</key>
                <string>{-93,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,72},{286,310}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_01_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,894},{286,310}}</string>
                <key>offset</key>
                <string>{-93,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,72},{286,310}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_01_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,884},{286,310}}</string>
                <key>offset</key>
                <string>{-93,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,72},{286,310}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_01_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,872},{288,312}}</string>
                <key>offset</key>
                <string>{-94,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,70},{288,312}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_01_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,594},{288,312}}</string>
                <key>offset</key>
                <string>{-93,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,70},{288,312}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_01_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,586},{288,312}}</string>
                <key>offset</key>
                <string>{-93,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,70},{288,312}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_01_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,582},{288,312}}</string>
                <key>offset</key>
                <string>{-93,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,70},{288,312}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_01_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,316},{288,312}}</string>
                <key>offset</key>
                <string>{-94,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,70},{288,312}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_01_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,606},{286,310}}</string>
                <key>offset</key>
                <string>{-93,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,72},{286,310}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_01_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,892},{286,310}}</string>
                <key>offset</key>
                <string>{-93,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,72},{286,310}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_01_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,606},{286,310}}</string>
                <key>offset</key>
                <string>{-93,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,72},{286,310}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_01_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,304},{288,312}}</string>
                <key>offset</key>
                <string>{-94,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,70},{288,312}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_01_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,296},{288,312}}</string>
                <key>offset</key>
                <string>{-93,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,70},{288,312}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_01_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,292},{288,312}}</string>
                <key>offset</key>
                <string>{-93,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,70},{288,312}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_01_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,2},{288,312}}</string>
                <key>offset</key>
                <string>{-93,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,70},{288,312}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_01_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,316},{288,312}}</string>
                <key>offset</key>
                <string>{-94,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,70},{288,312}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_01_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,606},{286,310}}</string>
                <key>offset</key>
                <string>{-93,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,72},{286,310}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_01_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,892},{286,310}}</string>
                <key>offset</key>
                <string>{-93,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,72},{286,310}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_01_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{286,310}}</string>
                <key>offset</key>
                <string>{-93,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,72},{286,310}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_01_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,318},{286,310}}</string>
                <key>offset</key>
                <string>{-93,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,72},{286,310}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
            <key>ani_player_character03_01_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,318},{286,310}}</string>
                <key>offset</key>
                <string>{-93,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,72},{286,310}}</string>
                <key>sourceSize</key>
                <string>{684,396}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ani_player_character03_01.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04c03cdfadb507efc30e234eb582979c:e2cd440a4daa3f9323089732aa130829:12eff4a463019163e6fccadf781a704d$</string>
            <key>textureFileName</key>
            <string>ani_player_character03_01.png</string>
        </dict>
    </dict>
</plist>
