<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CHARACTER_1_Ani0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,200}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,30},{170,200}}</string>
                <key>sourceSize</key>
                <string>{190,230}</string>
            </dict>
            <key>CHARACTER_1_Ani1.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{170,200}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,30},{170,200}}</string>
                <key>sourceSize</key>
                <string>{190,230}</string>
            </dict>
            <key>CHARACTER_1_Ani2.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{170,200}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,30},{170,200}}</string>
                <key>sourceSize</key>
                <string>{190,230}</string>
            </dict>
            <key>CHARACTER_1_Ani3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{170,200}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,30},{170,200}}</string>
                <key>sourceSize</key>
                <string>{190,230}</string>
            </dict>
            <key>CHARACTER_2_Ani1.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,204},{170,198}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,32},{170,198}}</string>
                <key>sourceSize</key>
                <string>{190,230}</string>
            </dict>
            <key>CHARACTER_2_Ani2.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,204},{170,198}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,32},{170,198}}</string>
                <key>sourceSize</key>
                <string>{190,230}</string>
            </dict>
            <key>CHARACTER_3_Ani1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{170,210}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,20},{170,210}}</string>
                <key>sourceSize</key>
                <string>{190,230}</string>
            </dict>
            <key>CHARACTER_3_Ani2.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,406},{170,210}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,20},{170,210}}</string>
                <key>sourceSize</key>
                <string>{190,230}</string>
            </dict>
            <key>CHARACTER_3_Ani3.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,406},{170,210}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,20},{170,210}}</string>
                <key>sourceSize</key>
                <string>{190,230}</string>
            </dict>
            <key>CHARACTER_4_Ani1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{172,194}}</string>
                <key>offset</key>
                <string>{1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,36},{172,194}}</string>
                <key>sourceSize</key>
                <string>{190,230}</string>
            </dict>
            <key>CHARACTER_4_Ani2.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,618},{172,194}}</string>
                <key>offset</key>
                <string>{1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,36},{172,194}}</string>
                <key>sourceSize</key>
                <string>{190,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CharacterPlayAnimation.png</string>
            <key>size</key>
            <string>{518,814}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f02b913817b8ce5566ce74cb616aa230:1938f54fe5034448ba70fc96b521395c:bab68fdd28899b27090f5109d2e32654$</string>
            <key>textureFileName</key>
            <string>CharacterPlayAnimation.png</string>
        </dict>
    </dict>
</plist>
