<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main_img3_ani0.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{62,72}}</string>
                <key>offset</key>
                <string>{85,126}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{299,73},{62,72}}</string>
                <key>sourceSize</key>
                <string>{490,470}</string>
            </dict>
            <key>main_img3_ani1.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{144,196}}</string>
                <key>offset</key>
                <string>{126,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{299,74},{144,196}}</string>
                <key>sourceSize</key>
                <string>{490,470}</string>
            </dict>
            <key>main_img3_ani2.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{206,232}}</string>
                <key>offset</key>
                <string>{95,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,38},{206,232}}</string>
                <key>sourceSize</key>
                <string>{490,470}</string>
            </dict>
            <key>main_img3_ani3.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{206,296}}</string>
                <key>offset</key>
                <string>{95,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,38},{206,296}}</string>
                <key>sourceSize</key>
                <string>{490,470}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main_menu03_img_ani.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a432391a451d4692fe301d86080e048:dd49775501765976ccf8bdafa57b556a:7eedd1dee8e1ab9855555483474e9e80$</string>
            <key>textureFileName</key>
            <string>main_menu03_img_ani.png</string>
        </dict>
    </dict>
</plist>
