<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PLAYSCENE_ani_land_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,72},{1,1}}</string>
                <key>offset</key>
                <string>{-119.5,79.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,72},{1,1}}</string>
                <key>offset</key>
                <string>{-119.5,79.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,72},{1,1}}</string>
                <key>offset</key>
                <string>{-119.5,79.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,72},{1,1}}</string>
                <key>offset</key>
                <string>{-119.5,79.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,72},{1,1}}</string>
                <key>offset</key>
                <string>{-119.5,79.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,736},{56,56}}</string>
                <key>offset</key>
                <string>{41,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,61},{56,56}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,736},{56,56}}</string>
                <key>offset</key>
                <string>{41,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,61},{56,56}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,186},{56,58}}</string>
                <key>offset</key>
                <string>{41,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,60},{56,58}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,64},{58,58}}</string>
                <key>offset</key>
                <string>{41,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,60},{58,58}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{58,60}}</string>
                <key>offset</key>
                <string>{41,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,58},{58,60}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,124},{60,60}}</string>
                <key>offset</key>
                <string>{41,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,58},{60,60}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,712},{106,66}}</string>
                <key>offset</key>
                <string>{18,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,58},{106,66}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,678},{108,66}}</string>
                <key>offset</key>
                <string>{18,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,58},{108,66}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,568},{108,66}}</string>
                <key>offset</key>
                <string>{17,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,59},{108,66}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,460},{106,68}}</string>
                <key>offset</key>
                <string>{17,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,58},{106,68}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,352},{106,68}}</string>
                <key>offset</key>
                <string>{18,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,58},{106,68}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,244},{106,68}}</string>
                <key>offset</key>
                <string>{19,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,58},{106,68}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,142},{146,68}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,58},{146,68}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,72},{146,68}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,58},{146,68}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_1_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{148,68}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,58},{148,68}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_1_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{148,68}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,58},{148,68}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_1_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,68}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,58},{148,68}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_1_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,72},{146,74}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,52},{146,74}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_1_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{144,78}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,48},{144,78}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_1_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,648},{144,86}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,40},{144,86}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_1_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{146,94}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,32},{146,94}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_1_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,612},{144,98}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,28},{144,98}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_1_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{144,98}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,28},{144,98}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_1_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,548},{144,98}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,28},{144,98}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_1_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,512},{144,98}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,28},{144,98}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_1_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{144,98}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,28},{144,98}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_1_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,448},{144,98}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,28},{144,98}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_1_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,412},{144,98}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,28},{144,98}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_1_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{144,98}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,28},{144,98}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_1_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,348},{144,98}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,28},{144,98}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_1_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,312},{144,98}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,28},{144,98}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_1_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{144,98}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,28},{144,98}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_1_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,248},{144,98}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,28},{144,98}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_1_00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,212},{144,98}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,28},{144,98}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_1_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{144,98}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,28},{144,98}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_1_00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,148},{144,98}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,28},{144,98}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_1_00042.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,148},{144,98}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,28},{144,98}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_1_00043.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,148},{144,98}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,28},{144,98}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_1_00044.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,148},{144,98}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,28},{144,98}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_1_00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,148},{144,98}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,28},{144,98}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_1_00046.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,148},{144,98}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,28},{144,98}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_1_00047.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,148},{144,98}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,28},{144,98}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_1_00048.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,148},{144,98}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,28},{144,98}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PLAYSCENE_ani_land_1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e331ccac7097fc014fd87ae6b74dd682:6c9fe1222673b20c329ec7f7ff18b3a1:7aced6ecc036299a58b64706158bd842$</string>
            <key>textureFileName</key>
            <string>PLAYSCENE_ani_land_1.png</string>
        </dict>
    </dict>
</plist>
