<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PLAYSCENE_ani_land_2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,132},{1,1}}</string>
                <key>offset</key>
                <string>{-119.5,79.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,626},{28,30}}</string>
                <key>offset</key>
                <string>{53,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,72},{28,30}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,596},{28,32}}</string>
                <key>offset</key>
                <string>{52,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,71},{28,32}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,562},{32,34}}</string>
                <key>offset</key>
                <string>{52,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,70},{32,34}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,522},{34,38}}</string>
                <key>offset</key>
                <string>{53,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,68},{34,38}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,604},{60,60}}</string>
                <key>offset</key>
                <string>{39,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,68},{60,60}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,604},{60,60}}</string>
                <key>offset</key>
                <string>{39,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,68},{60,60}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{62,62}}</string>
                <key>offset</key>
                <string>{38,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,67},{62,62}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,650},{62,62}}</string>
                <key>offset</key>
                <string>{38,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,67},{62,62}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,650},{62,62}}</string>
                <key>offset</key>
                <string>{38,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,67},{62,62}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,586},{126,78}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,51},{126,78}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,522},{126,80}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,49},{126,80}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{128,80}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,49},{128,80}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,520},{128,82}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,47},{128,82}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,502},{128,82}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,47},{128,82}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,418},{128,82}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,47},{128,82}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{128,82}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,47},{128,82}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,418},{128,100}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,29},{128,100}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{128,102}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,27},{128,102}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_2_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,392},{128,102}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,27},{128,102}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_2_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,314},{128,102}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,27},{128,102}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_2_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,314},{128,102}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,27},{128,102}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_2_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,314},{128,102}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,27},{128,102}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_2_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,314},{128,102}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,27},{128,102}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_2_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,314},{128,102}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,27},{128,102}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_2_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,314},{128,102}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,27},{128,102}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_2_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{128,102}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,27},{128,102}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_2_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,262},{128,102}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,27},{128,102}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_2_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,210},{128,102}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,27},{128,102}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_2_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,210},{128,102}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,27},{128,102}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_2_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,210},{128,102}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,27},{128,102}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_2_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,210},{128,102}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,27},{128,102}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_2_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{128,102}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,27},{128,102}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_2_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,132},{128,102}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,27},{128,102}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_2_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,106},{128,102}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,27},{128,102}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_2_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,106},{128,102}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,27},{128,102}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_2_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{138,102}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,27},{138,102}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_2_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{140,102}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,27},{140,102}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_2_00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{140,102}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,27},{140,102}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_2_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,102}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,27},{140,102}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_2_00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,102}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,27},{140,102}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_2_00042.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,102}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,27},{140,102}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_2_00043.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,102}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,27},{140,102}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_2_00044.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,102}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,27},{140,102}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_2_00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,102}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,27},{140,102}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_2_00046.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,102}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,27},{140,102}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_2_00047.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,102}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,27},{140,102}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_2_00048.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,102}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,27},{140,102}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PLAYSCENE_ani_land_2.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c578c83800839e6e6148231436e68e5a:500401c83bcf1a3f4bd38c569a6a02b3:27e121985d342eb1225d73a91ce3613f$</string>
            <key>textureFileName</key>
            <string>PLAYSCENE_ani_land_2.png</string>
        </dict>
    </dict>
</plist>
