<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PLAYSCENE_ani_land_4_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{1,1}}</string>
                <key>offset</key>
                <string>{-119.5,79.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_4_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{1,1}}</string>
                <key>offset</key>
                <string>{-119.5,79.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_4_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{1,1}}</string>
                <key>offset</key>
                <string>{-119.5,79.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_4_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{1,1}}</string>
                <key>offset</key>
                <string>{-119.5,79.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_4_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,554},{28,30}}</string>
                <key>offset</key>
                <string>{-16,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,97},{28,30}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_4_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,408},{28,30}}</string>
                <key>offset</key>
                <string>{-16,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,97},{28,30}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_4_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,408},{30,32}}</string>
                <key>offset</key>
                <string>{-16,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,96},{30,32}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_4_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,554},{32,52}}</string>
                <key>offset</key>
                <string>{-16,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,77},{32,52}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_4_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,386},{34,52}}</string>
                <key>offset</key>
                <string>{-17,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,77},{34,52}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_4_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,332},{34,52}}</string>
                <key>offset</key>
                <string>{-17,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,77},{34,52}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_4_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,544},{64,54}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,75},{64,54}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_4_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,544},{64,54}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,75},{64,54}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_4_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{64,54}}</string>
                <key>offset</key>
                <string>{-2,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,75},{64,54}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_4_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,498},{66,54}}</string>
                <key>offset</key>
                <string>{-2,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,75},{66,54}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_4_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,442},{66,54}}</string>
                <key>offset</key>
                <string>{-2,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,75},{66,54}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_4_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,442},{66,54}}</string>
                <key>offset</key>
                <string>{-2,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,75},{66,54}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_4_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,614},{98,70}}</string>
                <key>offset</key>
                <string>{14,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,59},{98,70}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_4_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,542},{98,70}}</string>
                <key>offset</key>
                <string>{15,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,59},{98,70}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_4_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,308},{98,72}}</string>
                <key>offset</key>
                <string>{15,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,57},{98,72}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_4_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,206},{100,72}}</string>
                <key>offset</key>
                <string>{15,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,57},{100,72}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_4_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,104},{100,72}}</string>
                <key>offset</key>
                <string>{15,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,57},{100,72}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_4_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{100,72}}</string>
                <key>offset</key>
                <string>{15,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,57},{100,72}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_4_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,536},{100,106}}</string>
                <key>offset</key>
                <string>{15,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,23},{100,106}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_4_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,442},{100,106}}</string>
                <key>offset</key>
                <string>{15,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,23},{100,106}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_4_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{100,106}}</string>
                <key>offset</key>
                <string>{15,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,23},{100,106}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_4_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,440},{100,108}}</string>
                <key>offset</key>
                <string>{15,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,21},{100,108}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_4_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,434},{100,108}}</string>
                <key>offset</key>
                <string>{15,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,21},{100,108}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_4_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,332},{100,108}}</string>
                <key>offset</key>
                <string>{15,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,21},{100,108}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_4_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,332},{100,108}}</string>
                <key>offset</key>
                <string>{15,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,21},{100,108}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_4_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,332},{140,108}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,21},{140,108}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_4_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{142,108}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,21},{142,108}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_4_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,222},{142,108}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,21},{142,108}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_4_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,222},{142,108}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,21},{142,108}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_4_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{142,108}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,21},{142,108}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_4_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,112},{142,108}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,21},{142,108}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_4_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,112},{142,108}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,21},{142,108}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_4_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,112},{142,108}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,21},{142,108}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_4_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{142,108}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,21},{142,108}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_4_00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{142,108}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,21},{142,108}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_4_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{142,108}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,21},{142,108}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_4_00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,108}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,21},{142,108}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_4_00042.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,108}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,21},{142,108}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_4_00043.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,108}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,21},{142,108}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_4_00044.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,108}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,21},{142,108}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_4_00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,108}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,21},{142,108}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_4_00046.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,108}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,21},{142,108}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_4_00047.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,108}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,21},{142,108}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_4_00048.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,108}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,21},{142,108}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PLAYSCENE_ani_land_4.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c02e389d522f9930699f585c4527820f:0f1aed2a95ede61737e8484cb11e75b6:8097b5b4d9065721ed28d8cc5b742349$</string>
            <key>textureFileName</key>
            <string>PLAYSCENE_ani_land_4.png</string>
        </dict>
    </dict>
</plist>
