<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PLAYSCENE_ani_land_3_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,458},{1,1}}</string>
                <key>offset</key>
                <string>{-119.5,79.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_3_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,458},{1,1}}</string>
                <key>offset</key>
                <string>{-119.5,79.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_3_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,586},{32,32}}</string>
                <key>offset</key>
                <string>{-47,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,59},{32,32}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_3_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,586},{34,34}}</string>
                <key>offset</key>
                <string>{-47,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,57},{34,34}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_3_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,586},{38,36}}</string>
                <key>offset</key>
                <string>{-47,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,57},{38,36}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_3_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,564},{38,38}}</string>
                <key>offset</key>
                <string>{-47,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,55},{38,38}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_3_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,564},{74,38}}</string>
                <key>offset</key>
                <string>{-30,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,56},{74,38}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_3_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,568},{74,40}}</string>
                <key>offset</key>
                <string>{-29,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,55},{74,40}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_3_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{76,60}}</string>
                <key>offset</key>
                <string>{-29,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,56},{76,60}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_3_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{76,62}}</string>
                <key>offset</key>
                <string>{-29,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,55},{76,62}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_3_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,522},{76,62}}</string>
                <key>offset</key>
                <string>{-29,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,56},{76,62}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_3_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,458},{76,62}}</string>
                <key>offset</key>
                <string>{-29,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,56},{76,62}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_3_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,394},{100,62}}</string>
                <key>offset</key>
                <string>{-17,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,56},{100,62}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_3_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,330},{100,62}}</string>
                <key>offset</key>
                <string>{-17,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,56},{100,62}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_3_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,266},{100,62}}</string>
                <key>offset</key>
                <string>{-17,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,56},{100,62}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_3_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,202},{100,62}}</string>
                <key>offset</key>
                <string>{-16,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,56},{100,62}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_3_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,138},{100,62}}</string>
                <key>offset</key>
                <string>{-16,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,56},{100,62}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_3_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,138},{100,62}}</string>
                <key>offset</key>
                <string>{-16,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,56},{100,62}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_3_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,138},{100,62}}</string>
                <key>offset</key>
                <string>{-16,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,56},{100,62}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_3_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,496},{134,66}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,52},{134,66}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_3_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{134,66}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,52},{134,66}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_3_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,496},{134,66}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,52},{134,66}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_3_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,564},{134,64}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,54},{134,64}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_3_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,564},{134,64}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,54},{134,64}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_3_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,564},{134,64}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,54},{134,64}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_3_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,400},{134,94}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,24},{134,94}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_3_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{134,94}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,24},{134,94}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_3_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,400},{134,94}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,24},{134,94}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_3_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,302},{134,96}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,22},{134,96}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_3_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{134,96}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,22},{134,96}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_3_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,302},{134,96}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,22},{134,96}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_3_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,204},{134,96}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,22},{134,96}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_3_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{134,96}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,22},{134,96}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_3_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,204},{134,96}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,22},{134,96}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_3_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,106},{134,96}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,22},{134,96}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_3_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,106},{134,96}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,22},{134,96}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_3_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{134,100}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,23},{134,100}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_3_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{134,100}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,23},{134,100}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_3_00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{134,102}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,22},{134,102}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_3_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{134,102}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,22},{134,102}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_3_00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,102}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,23},{134,102}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_3_00042.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,102}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,23},{134,102}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_3_00043.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,102}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,23},{134,102}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_3_00044.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,102}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,23},{134,102}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_3_00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,102}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,23},{134,102}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_3_00046.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,102}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,23},{134,102}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_3_00047.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,102}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,23},{134,102}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>PLAYSCENE_ani_land_3_00048.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,102}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,23},{134,102}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PLAYSCENE_ani_land_3.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38078b5e46988f6da0c9dc37fe2bfa04:48a03e66d09b11df2068118895c24290:c4e2166cb51366a95584155af4a0b7e9$</string>
            <key>textureFileName</key>
            <string>PLAYSCENE_ani_land_3.png</string>
        </dict>
    </dict>
</plist>
