<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>searching_eye_ani_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,238},{234,422}}</string>
                <key>offset</key>
                <string>{32,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,156},{234,422}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>searching_eye_ani_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,846},{234,420}}</string>
                <key>offset</key>
                <string>{41,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,150},{234,420}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>searching_eye_ani_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,850},{236,422}}</string>
                <key>offset</key>
                <string>{47,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,140},{236,422}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>searching_eye_ani_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,1268},{234,420}}</string>
                <key>offset</key>
                <string>{52,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{285,131},{234,420}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>searching_eye_ani_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,1690},{234,420}}</string>
                <key>offset</key>
                <string>{55,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{288,120},{234,420}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>searching_eye_ani_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,474},{236,420}}</string>
                <key>offset</key>
                <string>{55,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{287,108},{236,420}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>searching_eye_ani_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,238},{236,420}}</string>
                <key>offset</key>
                <string>{53,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{285,97},{236,420}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>searching_eye_ani_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,2},{234,422}}</string>
                <key>offset</key>
                <string>{49,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{282,85},{234,422}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>searching_eye_ani_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,712},{234,420}}</string>
                <key>offset</key>
                <string>{43,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,77},{234,420}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>searching_eye_ani_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,846},{234,420}}</string>
                <key>offset</key>
                <string>{35,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,69},{234,420}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>searching_eye_ani_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,1268},{234,420}}</string>
                <key>offset</key>
                <string>{26,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,63},{234,420}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>searching_eye_ani_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,2},{236,420}}</string>
                <key>offset</key>
                <string>{15,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,59},{236,420}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>searching_eye_ani_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,846},{234,420}}</string>
                <key>offset</key>
                <string>{4,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,57},{234,420}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>searching_eye_ani_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,2},{234,422}}</string>
                <key>offset</key>
                <string>{-8,83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,56},{234,422}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>searching_eye_ani_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,1268},{234,420}}</string>
                <key>offset</key>
                <string>{-19,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,60},{234,420}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>searching_eye_ani_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1690},{234,420}}</string>
                <key>offset</key>
                <string>{-29,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,65},{234,420}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>searching_eye_ani_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,846},{234,420}}</string>
                <key>offset</key>
                <string>{-38,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,72},{234,420}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>searching_eye_ani_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,1268},{234,420}}</string>
                <key>offset</key>
                <string>{-45,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,80},{234,420}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>searching_eye_ani_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{236,420}}</string>
                <key>offset</key>
                <string>{-51,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,90},{236,420}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>searching_eye_ani_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,424},{234,420}}</string>
                <key>offset</key>
                <string>{-54,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,101},{234,420}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>searching_eye_ani_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1274},{234,422}}</string>
                <key>offset</key>
                <string>{-55,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,111},{234,422}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>searching_eye_ani_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,846},{234,420}}</string>
                <key>offset</key>
                <string>{-54,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,124},{234,420}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>searching_eye_ani_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1268},{234,420}}</string>
                <key>offset</key>
                <string>{-50,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,135},{234,420}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>searching_eye_ani_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,424},{234,420}}</string>
                <key>offset</key>
                <string>{-45,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,145},{234,420}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>searching_eye_ani_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1698},{236,420}}</string>
                <key>offset</key>
                <string>{-38,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,153},{236,420}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>searching_eye_ani_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1698},{236,420}}</string>
                <key>offset</key>
                <string>{-29,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,160},{236,420}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>searching_eye_ani_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{236,422}}</string>
                <key>offset</key>
                <string>{-19,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,163},{236,422}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>searching_eye_ani_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,846},{234,420}}</string>
                <key>offset</key>
                <string>{-7,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,167},{234,420}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>searching_eye_ani_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{236,422}}</string>
                <key>offset</key>
                <string>{4,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,166},{236,422}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>searching_eye_ani_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1274},{234,422}}</string>
                <key>offset</key>
                <string>{16,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,164},{234,422}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>searching_eye_ani_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,476},{234,420}}</string>
                <key>offset</key>
                <string>{26,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,161},{234,420}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>searching_eye_ani_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,424},{234,420}}</string>
                <key>offset</key>
                <string>{36,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{269,155},{234,420}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>searching_eye_ani.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f219f422a6f845cd96878188906738a1:d40f0ae8e3730fedd965ac6b91018fec:cb8cdbddc0f03fd1bba9e1f55a80056d$</string>
            <key>textureFileName</key>
            <string>searching_eye_ani.png</string>
        </dict>
    </dict>
</plist>
