<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>searching_text01.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{240,56}}</string>
			<key>offset</key>
			<string>{-21,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,56}}</string>
			<key>sourceSize</key>
			<string>{282,56}</string>
		</dict>
		<key>searching_text02.png</key>
		<dict>
			<key>frame</key>
			<string>{{118,60},{254,56}}</string>
			<key>offset</key>
			<string>{-14,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{254,56}}</string>
			<key>sourceSize</key>
			<string>{282,56}</string>
		</dict>
		<key>searching_text03.png</key>
		<dict>
			<key>frame</key>
			<string>{{60,60},{268,56}}</string>
			<key>offset</key>
			<string>{-7,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{268,56}}</string>
			<key>sourceSize</key>
			<string>{282,56}</string>
		</dict>
		<key>searching_text04.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,60},{282,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{282,56}}</string>
			<key>sourceSize</key>
			<string>{282,56}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>searching_text.png</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:7f9623b5aedeaa6685228d759a3661e3:c38171ed6148c8ee5400a6191c0c719d:4bb51c034d8dbc079604c55141e74e0e$</string>
		<key>textureFileName</key>
		<string>searching_text.png</string>
	</dict>
</dict>
</plist>
