<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shared_player_character01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{282,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,283}}</string>
                <key>sourceSize</key>
                <string>{282,283}</string>
            </dict>
            <key>shared_player_character01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,286},{282,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{282,267}}</string>
                <key>sourceSize</key>
                <string>{282,283}</string>
            </dict>
            <key>shared_player_character02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{216,317}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,317}}</string>
                <key>sourceSize</key>
                <string>{216,317}</string>
            </dict>
            <key>shared_player_character02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{216,297}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{216,297}}</string>
                <key>sourceSize</key>
                <string>{216,317}</string>
            </dict>
            <key>shared_player_character03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,641},{303,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,309}}</string>
                <key>sourceSize</key>
                <string>{303,309}</string>
            </dict>
            <key>shared_player_character03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,322},{303,275}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{303,275}}</string>
                <key>sourceSize</key>
                <string>{303,309}</string>
            </dict>
            <key>shared_player_character04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{276,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,318}}</string>
                <key>sourceSize</key>
                <string>{276,318}</string>
            </dict>
            <key>shared_player_character04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,627},{272,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{272,290}}</string>
                <key>sourceSize</key>
                <string>{276,318}</string>
            </dict>
            <key>shared_player_empty_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,301},{227,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,289}}</string>
                <key>sourceSize</key>
                <string>{227,289}</string>
            </dict>
            <key>shared_player_empty_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,555},{227,281}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{227,281}}</string>
                <key>sourceSize</key>
                <string>{227,289}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shared_player_characters.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5129d5e51a506831b31a525d36ff600f:947cd2a6d81224e72bae49e4a7308784:2f32cbfdc25e3a28b64a4f2d7f1c33f0$</string>
            <key>textureFileName</key>
            <string>shared_player_characters.png</string>
        </dict>
    </dict>
</plist>
