<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tutorial_animation_draw_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1078},{209,267}}</string>
                <key>offset</key>
                <string>{-94,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{209,267}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_draw_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,809},{209,267}}</string>
                <key>offset</key>
                <string>{-94,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{209,267}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_draw_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{209,267}}</string>
                <key>offset</key>
                <string>{-94,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{209,267}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_draw_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,271},{209,267}}</string>
                <key>offset</key>
                <string>{-94,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{209,267}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_draw_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{209,267}}</string>
                <key>offset</key>
                <string>{-94,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{209,267}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_draw_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1347},{207,267}}</string>
                <key>offset</key>
                <string>{-94,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{207,267}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_draw_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,1347},{207,265}}</string>
                <key>offset</key>
                <string>{-94,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{207,265}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_draw_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1616},{207,265}}</string>
                <key>offset</key>
                <string>{-94,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{207,265}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_draw_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,1614},{205,263}}</string>
                <key>offset</key>
                <string>{-93,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{205,263}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_draw_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,1614},{203,259}}</string>
                <key>offset</key>
                <string>{-92,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{203,259}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_draw_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,2},{201,257}}</string>
                <key>offset</key>
                <string>{-91,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,11},{201,257}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_draw_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,2},{199,253}}</string>
                <key>offset</key>
                <string>{-90,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{199,253}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_draw_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{197,249}}</string>
                <key>offset</key>
                <string>{-89,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{197,249}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_draw_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,133},{195,245}}</string>
                <key>offset</key>
                <string>{-88,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{195,245}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_draw_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,511},{191,241}}</string>
                <key>offset</key>
                <string>{-86,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{191,241}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_draw_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,754},{189,239}}</string>
                <key>offset</key>
                <string>{-85,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,11},{189,239}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_draw_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,995},{187,235}}</string>
                <key>offset</key>
                <string>{-84,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,12},{187,235}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_draw_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,995},{187,233}}</string>
                <key>offset</key>
                <string>{-84,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,12},{187,233}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_draw_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,744},{185,231}}</string>
                <key>offset</key>
                <string>{-83,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,12},{185,231}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_draw_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1230},{185,231}}</string>
                <key>offset</key>
                <string>{-83,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,12},{185,231}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_draw_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,511},{185,231}}</string>
                <key>offset</key>
                <string>{-83,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,12},{185,231}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_draw_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1230},{185,231}}</string>
                <key>offset</key>
                <string>{-83,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,12},{185,231}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_draw_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1230},{185,231}}</string>
                <key>offset</key>
                <string>{-83,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,12},{185,231}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_draw_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1230},{185,231}}</string>
                <key>offset</key>
                <string>{-83,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,12},{185,231}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_draw_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,754},{185,231}}</string>
                <key>offset</key>
                <string>{-83,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,12},{185,231}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_draw_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,754},{185,231}}</string>
                <key>offset</key>
                <string>{-83,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,12},{185,231}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_draw_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,754},{185,231}}</string>
                <key>offset</key>
                <string>{-83,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,12},{185,231}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_draw_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1230},{185,231}}</string>
                <key>offset</key>
                <string>{-83,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,12},{185,231}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_draw_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,977},{183,231}}</string>
                <key>offset</key>
                <string>{-82,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,11},{183,231}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_draw_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,1210},{181,227}}</string>
                <key>offset</key>
                <string>{-81,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,11},{181,227}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_draw_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,977},{177,221}}</string>
                <key>offset</key>
                <string>{-79,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,12},{177,221}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_draw_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,1439},{173,217}}</string>
                <key>offset</key>
                <string>{-77,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,11},{173,217}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_draw_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,1875},{169,211}}</string>
                <key>offset</key>
                <string>{-75,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,12},{169,211}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_draw_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1879},{165,207}}</string>
                <key>offset</key>
                <string>{-73,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,11},{165,207}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_draw_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1883},{159,201}}</string>
                <key>offset</key>
                <string>{-70,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,12},{159,201}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_draw_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,1883},{155,197}}</string>
                <key>offset</key>
                <string>{-68,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,11},{155,197}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_draw_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1463},{149,193}}</string>
                <key>offset</key>
                <string>{-65,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,11},{149,193}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_draw_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,1614},{145,187}}</string>
                <key>offset</key>
                <string>{-63,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,12},{145,187}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_draw_00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,1803},{139,183}}</string>
                <key>offset</key>
                <string>{-60,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,12},{139,183}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_draw_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,1614},{133,189}}</string>
                <key>offset</key>
                <string>{-57,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,3},{133,189}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_draw_00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,1200},{131,185}}</string>
                <key>offset</key>
                <string>{-56,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,4},{131,185}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_draw_00042.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,1572},{127,183}}</string>
                <key>offset</key>
                <string>{-54,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,5},{127,183}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_draw_00043.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,1767},{127,183}}</string>
                <key>offset</key>
                <string>{-54,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,4},{127,183}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_draw_00044.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,567},{127,179}}</string>
                <key>offset</key>
                <string>{-54,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,7},{127,179}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_draw_00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,257},{127,179}}</string>
                <key>offset</key>
                <string>{-54,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,6},{127,179}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_draw_00046.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,386},{127,179}}</string>
                <key>offset</key>
                <string>{-54,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,6},{127,179}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_draw_00047.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,386},{127,177}}</string>
                <key>offset</key>
                <string>{-54,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,7},{127,177}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_draw_00048.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,565},{127,177}}</string>
                <key>offset</key>
                <string>{-54,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,7},{127,177}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_draw_00049.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,257},{127,177}}</string>
                <key>offset</key>
                <string>{-54,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,7},{127,177}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_draw_00050.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,386},{127,177}}</string>
                <key>offset</key>
                <string>{-54,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,7},{127,177}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_draw_00051.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,1757},{127,181}}</string>
                <key>offset</key>
                <string>{-54,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,5},{127,181}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_draw_00052.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,1387},{127,183}}</string>
                <key>offset</key>
                <string>{-54,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,4},{127,183}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_draw_00053.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,1582},{127,183}}</string>
                <key>offset</key>
                <string>{-54,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,5},{127,183}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_draw_00054.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,1393},{127,187}}</string>
                <key>offset</key>
                <string>{-54,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,2},{127,187}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_draw_00055.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1200},{127,191}}</string>
                <key>offset</key>
                <string>{-53,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,1},{127,191}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_draw_00056.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,380},{129,195}}</string>
                <key>offset</key>
                <string>{-52,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,0},{129,195}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_draw_00057.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2},{129,197}}</string>
                <key>offset</key>
                <string>{-52,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,0},{129,197}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_draw_00058.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,253},{131,197}}</string>
                <key>offset</key>
                <string>{-52,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,0},{131,197}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_draw_00059.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,1232},{127,79}}</string>
                <key>offset</key>
                <string>{-54,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,12},{127,79}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_draw_00060.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,1232},{127,79}}</string>
                <key>offset</key>
                <string>{-54,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,12},{127,79}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tutorial_ani_draw.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e546cc6d1bfc60827afb607b3699f9b:297e24f6994b43e523b4b2c3e2df30c1:f667a1d2b7b751fb2f164f6e8bb8fe6a$</string>
            <key>textureFileName</key>
            <string>tutorial_ani_draw.png</string>
        </dict>
    </dict>
</plist>
