<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tutorial_ani_timer_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,613},{329,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,45}}</string>
                <key>sourceSize</key>
                <string>{329,45}</string>
            </dict>
            <key>tutorial_ani_timer_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{329,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,45}}</string>
                <key>sourceSize</key>
                <string>{329,45}</string>
            </dict>
            <key>tutorial_ani_timer_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,519},{329,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,45}}</string>
                <key>sourceSize</key>
                <string>{329,45}</string>
            </dict>
            <key>tutorial_ani_timer_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{329,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,45}}</string>
                <key>sourceSize</key>
                <string>{329,45}</string>
            </dict>
            <key>tutorial_ani_timer_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,425},{329,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,45}}</string>
                <key>sourceSize</key>
                <string>{329,45}</string>
            </dict>
            <key>tutorial_ani_timer_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{329,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,45}}</string>
                <key>sourceSize</key>
                <string>{329,45}</string>
            </dict>
            <key>tutorial_ani_timer_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,333},{329,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,45}}</string>
                <key>sourceSize</key>
                <string>{329,45}</string>
            </dict>
            <key>tutorial_ani_timer_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,2},{329,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,45}}</string>
                <key>sourceSize</key>
                <string>{329,45}</string>
            </dict>
            <key>tutorial_ani_timer_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{329,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,45}}</string>
                <key>sourceSize</key>
                <string>{329,45}</string>
            </dict>
            <key>tutorial_ani_timer_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,331},{329,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,45}}</string>
                <key>sourceSize</key>
                <string>{329,45}</string>
            </dict>
            <key>tutorial_ani_timer_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{329,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,45}}</string>
                <key>sourceSize</key>
                <string>{329,45}</string>
            </dict>
            <key>tutorial_ani_timer_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{329,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,45}}</string>
                <key>sourceSize</key>
                <string>{329,45}</string>
            </dict>
            <key>tutorial_ani_timer_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{329,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,45}}</string>
                <key>sourceSize</key>
                <string>{329,45}</string>
            </dict>
            <key>tutorial_ani_timer_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{329,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,45}}</string>
                <key>sourceSize</key>
                <string>{329,45}</string>
            </dict>
            <key>tutorial_ani_timer_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{329,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,45}}</string>
                <key>sourceSize</key>
                <string>{329,45}</string>
            </dict>
            <key>tutorial_ani_timer_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,49},{329,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,45}}</string>
                <key>sourceSize</key>
                <string>{329,45}</string>
            </dict>
            <key>tutorial_ani_timer_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,2},{329,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,45}}</string>
                <key>sourceSize</key>
                <string>{329,45}</string>
            </dict>
            <key>tutorial_ani_timer_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{329,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,45}}</string>
                <key>sourceSize</key>
                <string>{329,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tutorial_animation_timer.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:255fe5ebc950fd4616e3089a1babfd7a:6031819cc55c4d7a5d6e883090b2238d:f4743cb390893c265c8d45801acaa26d$</string>
            <key>textureFileName</key>
            <string>tutorial_animation_timer.png</string>
        </dict>
    </dict>
</plist>
