<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tutorial_animation_land_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,1137},{317,225}}</string>
                <key>offset</key>
                <string>{40,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,11},{317,225}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_land_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1775},{317,225}}</string>
                <key>offset</key>
                <string>{40,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,11},{317,225}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_land_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1456},{317,225}}</string>
                <key>offset</key>
                <string>{40,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,11},{317,225}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_land_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1137},{317,225}}</string>
                <key>offset</key>
                <string>{40,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,11},{317,225}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_land_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,910},{317,225}}</string>
                <key>offset</key>
                <string>{40,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,11},{317,225}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_land_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,910},{317,225}}</string>
                <key>offset</key>
                <string>{40,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,11},{317,225}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_land_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,910},{317,225}}</string>
                <key>offset</key>
                <string>{40,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,11},{317,225}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_land_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,910},{317,225}}</string>
                <key>offset</key>
                <string>{40,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,11},{317,225}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_land_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,910},{317,225}}</string>
                <key>offset</key>
                <string>{40,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,11},{317,225}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_land_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,910},{317,225}}</string>
                <key>offset</key>
                <string>{40,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,11},{317,225}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_land_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,683},{317,225}}</string>
                <key>offset</key>
                <string>{40,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,11},{317,225}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_land_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,683},{317,225}}</string>
                <key>offset</key>
                <string>{40,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,11},{317,225}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_land_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,683},{317,225}}</string>
                <key>offset</key>
                <string>{40,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,11},{317,225}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_land_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,456},{317,225}}</string>
                <key>offset</key>
                <string>{40,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,11},{317,225}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_land_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,456},{317,225}}</string>
                <key>offset</key>
                <string>{40,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,11},{317,225}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_land_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{317,225}}</string>
                <key>offset</key>
                <string>{40,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,11},{317,225}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_land_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{317,225}}</string>
                <key>offset</key>
                <string>{40,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,11},{317,225}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_land_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{317,225}}</string>
                <key>offset</key>
                <string>{40,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,11},{317,225}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_land_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{317,225}}</string>
                <key>offset</key>
                <string>{40,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,11},{317,225}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_land_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,229},{317,225}}</string>
                <key>offset</key>
                <string>{40,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,11},{317,225}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_land_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,229},{317,225}}</string>
                <key>offset</key>
                <string>{40,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,11},{317,225}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_land_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,229},{317,225}}</string>
                <key>offset</key>
                <string>{40,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,11},{317,225}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_land_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,2},{317,225}}</string>
                <key>offset</key>
                <string>{40,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,11},{317,225}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_land_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,2},{317,225}}</string>
                <key>offset</key>
                <string>{40,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,11},{317,225}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_land_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{317,225}}</string>
                <key>offset</key>
                <string>{40,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,11},{317,225}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
            <key>tutorial_animation_land_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{317,225}}</string>
                <key>offset</key>
                <string>{40,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,11},{317,225}}</string>
                <key>sourceSize</key>
                <string>{397,279}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tutorial_animation_land.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ec843f10a107dabfec381ec327aa0a7:bdcba97f3af00acea90419f1aafc76ca:6ffad808013f13ac5417471372c0ba39$</string>
            <key>textureFileName</key>
            <string>tutorial_animation_land.png</string>
        </dict>
    </dict>
</plist>
